{% load static %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yaroslav B.</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <h1>Yaroslav B.</h1>
            <p>Placeholder placeholder placeholder placeholder.</p>
        </header>
    
        <section id="skills">
            <h2>Навыки</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Placeholder</li>
            </ul>
        </section>
    
        <section id="experience">
            <h2>Опыт работы</h2>
            <p>Placeholder placeholder placeholder placeholder.</p>
        </section>
    
        <section id="education">
            <h2>Образование</h2>
            <p>Placeholder placeholder placeholder placeholder placeh.</p>
        </section>
    
        <footer>
            <h2>Контакты</h2>
            <p>Email: debian1500@gmail.com</p>
            <p>Telegram: @adebxz</p>
        </footer>
    </body>
    </html>